<h1>Show some SugarCRM users</h1>
<p>Current Rails environment: <%= @env %></p>

<% {"First" => @first_user, "Last" => @last_user}.each do |k,v| %>
  <p><%= k %> user:
    <ul>
      <li>Username: <%= v.user_name %></li>
      <li>Email: <%= v.email1 %></li>
    </ul>
  </p>
<% end %>
