<div id="associations">
  <h2>Associations</h2>
  <table>
    <%- @bean.associations.each do |a| %>
    <tr>
      <td><%= link_to(a.proxy_methods[0], sugar_bean_associations_path(@sugar_module, @bean.id, a.proxy_methods[0]))  %></td>
    </tr>
    <%- end %>
  </table>
</div>
