<div id="attributes">
  <h2>Attributes</h2>
  <table>
    <%- @bean.attributes.sort.each do |a| %>
    <tr>
      <th><%= a[0] %>:</th>
      <td><%= a[1] %></td>
    </tr>
    <%- end %>
  </table>
</div>
